<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <link rel="stylesheet" type="text/css" href="/static/materialui/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/static/materialui/css/material-extra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>


	  <nav class="blue-grey darken-4">
	    <div class="nav-wrapper">
	      <img src="/static/img/logo.png" height="60" /><a href="#" class="brand-logo">Deadbox</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      	{% block links %}
	        <!-- <li><a href="sass.html"></a></li> -->
	        <!-- <li><a href="badges.html">Components</a></li> -->
	        <!-- <li><a href="collapsible.html">JavaScript</a></li> -->
	      	{% endblock %}
	      </ul>
	    </div>
	  </nav>

	<div class="container">
	{% block content %}
		
	{% endblock %}
	</div>
	<script type="text/javascript" src="/static/js/vendor/alpine.js"></script>
    <script type="text/javascript" src="/static/materialui/js/materialize.min.js"></script>
</body>
</html>